# Kutt API Host (Default: https://kutt.it, change this if you self-host Kutt)
KUTT_HOST=https://kutt.it

# Kutt API Key (Required for shortening to work)
# You can get this by logging into your account at https://kutt.it/settings
KUTT_API_KEY=your_kutt_api_key_here
